@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #023047;
    --secondary-color: #e0e1dd;
    --accent1-color: #8ECAE6;
    --accent2-color: #FB8500;

    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Playfair Display', serif;

    --nav-background-color: #FB8500;
    --nav-link-color: #e0e1dd;
    --nav-hover-link-color: #8ECAE6;
    --nav-hover-background-color: #FB8500;
}

body {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: var(--accent1-color);
}

main section img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1 a {
    text-decoration: none;
    justify-content: center;
    color: var(--primary-color)
}

h1 a:hover {
    text-decoration: underline;
}

h1 {
    color: var(--accent2-color);
}

h2 {
    color: var(--primary-color);
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: var(--primary-color);
}

footer {
    background-color: var(--accent2-color);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*Class Selectors*/

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--nav-background-color);
}

.logo {
    max-width: 100px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 65px;
}

.navigation a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: 1.5em;
}

.history {
    background-color: var(--secondary-color);
    padding: 50px;
    text-align: justify;
}

.adventure {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px
}

.adventure img {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
}

.adventures img:last-child {
    margin-right: 0;
}

.sociallinks {
    display: flex;
    text-decoration: none;
    border-bottom: none;
}

.sociallinks a {
    margin-left: 15px;
}

.sociallinks img {
    width: 30px;
    height: auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    padding: 10px;
    max-width: 100%;
}

.hero article {
    position: absolute;
    top: 40%;
    background-color: var(--secondary-color);
    padding: 10px;
    max-width: 60%;
    color: var(--primary-color);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hero article img {
    display: block;
    margin: 0 auto;
    float: right;
    max-width: 150px;
}

.contact-form {
    background-color: var(--secondary-color);
    padding: 50px;
    margin-top: 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form input[type="radio"],
.contact-form input[type="checkbox"] {
    margin-right: 5px;
}

.contact-form button[type="submit"] {
    background-color: var(--accent2-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button[type="submit"]:hover {
    background-color: var(--accent2-color);
}

.trips-item {
    clear: both; 
    margin-bottom: 20px;
  }
  
  .trips-item img {
    float: left; 
    max-width: 50%;
    margin-right: 20px;
    margin-top: 30px;
  }
  
  .trips-content {
    overflow: hidden; 
  }
  
  .trips-content h1,
  .trips-content p {
    margin-left: 20px; 
  }

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.content img {
    max-width: 90%;
    max-height: 80%;
}